@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Lobster&family=Oxanium:wght@500&family=Quicksand&family=Roboto&display=swap');
.Faqmaindiv{
    width: 100%;
    height: auto;
    background-color: white;
    margin-top: -15rem;
}

.mAINHEADING{
    color: rgb(192,54,113);
    font-size: 59px;
    text-align: center;
    font-family: sans-serif; 
}
.mainheadingtext{
    color: black;
    font-size: 16px;
    text-align: center;
}

.css-7yoeq6-MuiButtonBase-root-MuiAccordionSummary-root{
    background-color: #fff !important;
}

.Accordiontextbody{
    background-color: white;
    color: black;
    font-family: quicksand, sans-serif; 
    
}
.bodytext{
    font-size: 22px !important;

}

.AccodionHeadertext{
    background-color: white !important;
    color: black;
    font-family: quicksand, sans-serif; 
    font-size: 24px !important;
}
.AccodionHeadertext :active{
    color: rgb(192,54,113);

}
.innerdiv{
    width: 90%;
    margin-left: 50px;
    margin-top: 3rem;
   /* background-color: #; */
    
}

@media (min-width:481px) and (max-width:3000px) {

    .Faqmaindiv{
        width: 100%;
        height: auto;
        background-color: white;
        margin-top: 0rem;
    }

}

@media (min-width:280px) and (max-width:480px) {
    .innerdiv{
        width: 90%;
        margin-left: 15px !important;
        margin-top: 3rem;
       
        
    }
    .Faqmaindiv{
        width: 100%;
        height: auto;
        background-color: white;
        margin-top: 0rem;
    }

    
.mAINHEADING{
   
    font-size: 40px;
    text-align: center;
}
.mainheadingtext{
    color: #ffffff;
   
    font-size: 16px;
    text-align: center;
}

.Accordiontextbody{
    background-color: #000;
    color: #fff;
    font-family: 'Aldrich', sans-seri !important;
    
}
.bodytext{
    font-size: 16px !important;

}

.AccodionHeadertext{
    background-color: white !important;
    color: black;
    font-family: 'Aldrich', sans-seri !important;
    font-size: 18px !important;
}

    
}